<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
        <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
        <script src="https://fontawesome.com/icons/bootstrap?f=brands&s=solid"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="https://www.w3schools.com/icons/tryit.asp?icon=fas_fa-house-user&unicon=f965">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style7.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/style8.css' %}"/>
      <link rel="stylesheet" href="{% static 'css/style.css' %}"/>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynav"
                aria-controls="mynav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">
                <div class="d-flex">
                    <div class="d-flex align-items-center logo bg-dark">
                        <div class="fab fa- h2 text-white">EZ</div>
                    </div>
                    <div class="ms-3 d-flex flex-column">
                        <div class="h4" style="color:rgb(136, 20, 99);">ELECTROZONE</div>
                        <div class="fs-6">My Electronics App</div>
                    </div>
                </div>
            </a>
            <div class="collapse navbar-collapse" id="mynav">

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-3 my-lg-0 my-md-1">
                <div id="sidebar" class="bg-dark">
                    <div class="h4 text-white"></div>
                    <ul>
                        <li>
                            <a href="profile" class="text-decoration-none d-flex align-items-start">
                                <div class="far fa-user pt-2 me-3"></div>
                                <div class="d-flex flex-column">
                                    <div class="link">My Profile</div>
                                    <div class="link-desc"></div>
                                </div>
                            </a>
                        </li>
                         <li>
                            <a href="viewaddress" class="text-decoration-none d-flex align-items-start">
                                <div class="far fa-address-book pt-2 me-3"></div>
                                <div class="d-flex flex-column">
                                    <div class="link">Address</div>
                                    <div class="link-desc"></div>
                                </div>
                            </a>
                        </li>
                        <li >
                            <a href="wishlist" class="text-decoration-none d-flex align-items-start">
                                <div class="fas fa-heart pt-2 me-3"></div>
                                <div class="d-flex flex-column">
                                    <div class="link">Wishlist Products</div>
                                    <div class="link-desc"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="view_order" class="text-decoration-none d-flex align-items-start">
                                <div class="fas fa-box-open pt-2 me-3"></div>
                                <div class="d-flex flex-column">
                                    <div class="link">My Orders</div>
                                    <div class="link-desc"> </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'logouts' %}" class="text-decoration-none d-flex align-items-start">
                                <div class="fas fa-headset pt-2 me-3"></div>
                                <div class="d-flex flex-column">
                                    <div class="link">Logout</div>
                                    <div class="link-desc"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 my-lg-0 my-1">
                <div id="main-content" class="bg-white border">
<!--                    <div class="d-flex my-4 flex-wrap ">-->
<!--                        <div class="box me-2 my-1 bg-purple ">-->
<!--                            <a href="add_product" style=" text-decoration: none;">-->
<!--                                <h6 class="me-2 my-3" >ADD PRODUCT</h6></a>-->
<!--                        </div>-->
<!--                        <div class="box me-4 my-1 bg-purple">-->
<!--                            <h6 class="me-2 my-3"  >VIEW PRODUCT</h6>-->
<!--                        </div>-->
<!--                        <div class="box me-4 my-1 bg-purple">-->
<!--                            <h6 class="me-2 my-3"  >ADD PRODUCT</h6>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="home-content" id="content-placeholder">

                                 <div class="container justify-content-center align-items-center  ">
        <div class="row d-flex justify-content-center align-items-center h-20 w-80">
            <div class="col-md-4 px-2 py-4 Signup">
                <h3 class="text-center" style="color:rgb(136, 20, 99);">Update Address</h3>
                <form class="login-form" method="POST">
                    <div class="form-group">
                        {% csrf_token %}
                                                                {% for x in datas %}


                        <div class="form-outline mb-3">
                            <label class="form-label" for="form2Example11">House Name</label>
                            <input type="text" id="form2Example11" class="form-control"  name="house_name" value="{{x.house_name}}" required/>
                        </div>

                        <div class="form-outline mb-3">
                            <label class="form-label" for="form2Example22">City Name</label>
                            <input type="text" id="form2Example22" class="form-control" name="city_name" value="{{x.city_name}}"
                                 required />
                        </div>
                        <div class="form-outline mb-3">
                            <label class="form-label" for="form2Example33">Landmark</label>
                            <input type="text" id="form2Example33" class="form-control" name="landmark" value="{{x.landmark}}"  required />
                        </div>
                        <div class="form-outline mb-3">
                            <label class="form-label" for="form2Example44">District</label>
                            <input type="text" id="form2Example44" class="form-control" name="district" value="{{x.district}}" required/>
                        </div>
                        <div class="form-outline mb-3">
                            <label for="state" class="form-label">State</label>
                            <input type="text" class="form-control" id="state" name="state" value="{{x.state}}" required />
                        </div>
                        <div class="form-outline mb-3">
                            <label for="post office" class="form-label">Post office</label>
                            <input type="text" class="form-control" id="post office" name="post_office" value="{{x.post_office}}" required  />
                        </div>
                        <div class="form-outline mb-3">
                            <label for="pin" class="form-label">Pin</label>
                            <input type="number" class="form-control" id="pin" name="pin" required pattern="[0-9]{6}" value="{{x.pin}}" placeholder="" />
                        </div>
                        {% endfor %}

                        <div class="text-center pt-1 mb-2 pb-1">


                            <center><button type="submit" class="btn btn-login float-center">Register</button></center>
                        </div>



                </form>
            </div>



        </div>


    </div>
</div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>










